@import '../assets/variables';

.errorpage {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: $primary-color;
    font-family: $main-font;
    gap: 139px;
    margin: 139px 0;
    h1 {
        margin: 0;
        display: flex;
        font-size: 288px;
        font-weight: 700;
    }
    p {
        display: flex;
        text-align: center;
        font-size: 36px;
        font-weight: 500;
    }
    a {
        display: flex;
        color: $primary-color;
        font-size: 18px;
        font-weight: 500;
    }
}

@media only screen and (max-width: $media-query_mobile) {
    .errorpage {
        margin: 113px 0;
        gap: 113px;
        h1 {
            font-size: 96px;
        }
        p {
            font-size: 18px;
        }
        a {
            font-size: 14px;
        }
    }
}
