@import '../assets/variables';

.errorpage {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    color: $primary-color;
    font-family: $main-font;
    margin: 0;
    h1 {
        margin: 0;
        display: flex;
        font-size: 288px;
        font-weight: 700;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    p {
        display: flex;
        font-size: 36px;
        font-weight: 500;
        margin-bottom: 139px;
        margin-top: 100px;
    }
    a {
        display: flex;
        color: $primary-color;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 139px;
    }
}
