@import '../../assets/variables';

.star {
    aspect-ratio: 1/1;
    width: 36px;
    margin-left: 20px;
    &--filled {
        color: $primary-color;
    }
    &--greyed {
        filter: saturate(0) brightness(1.8);
    }
}

@media only screen and (max-width: $media-query_mobile) {
    .star {
        width: 18px;
        margin-left: 5px;
    }
}
