@import '../../assets/variables';

.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: $primary-color;
    min-width: 115px;
    height: 25px;
    padding: 0 10px;
    border-radius: 10px;
    margin-right: 10px;
    flex-shrink: 0;
    font-size: 14px;
}

@media only screen and (max-width: $media-query_mobile) {
    .tag {
        height: 18px;
        font-size: 10px;
        min-width: 84px;
    }
}
