@import '../../assets/variables';

.banner {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 90%;
    height: 223px;
    margin: 0 100px;
    padding: 20px;
    border-radius: 25px;
    background-color: $secondary-color;
    background-blend-mode: multiply;
    overflow: hidden;
    h1 {
        color: white;
        font-family: $main-font;
        font-weight: 500;
        font-size: 48px;
        z-index: 1;
    }
    img {
        position: absolute;
        width: 100%;
        filter: opacity(0.8);
    }
}
