@import '../../assets/variables';

.banner {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 223px;
    padding: 20px;
    border-radius: 25px;
    background-color: $secondary-color;
    background-blend-mode: multiply;
    overflow: hidden;
    h1 {
        color: white;
        font-family: $main-font;
        font-weight: 500;
        font-size: 48px;
        z-index: 1;
    }
    img {
        position: absolute;
        top: calc(50%-height);
        left: 0;
        width: 100%;
        filter: opacity(0.8);
    }
}

@media only screen and (max-width: 769px) {
    .banner {
        justify-content: flex-start;
        height: 111px;
        border-radius: 10px;
        h1 {
            width: 65%;
            font-size: 24px;
        }
    }
}
