@import '../../assets/variables';

.cardmenu {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 60px;
    row-gap: 50px;
    margin: 42px 100px 50px 100px;
    padding: 56px;
    background: $main-bg-color;
    border-radius: 25px;
}
