.cardmenu {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 60px;
    row-gap: 50px;
    margin: 42px 100px 50px 100px;
    padding: 56px;
    background: #f6f6f6;
    border-radius: 25px;
}
