@import '../../assets/variables';

.card {
    position: relative;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    aspect-ratio: 1/1;
    padding: 20px;
    align-items: flex-end;
    border-radius: 10px;
    background-color: $primary-color;
    overflow: hidden;
    img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }
    p {
        position: absolute;
        bottom: 20px;
        left: 20px;
        width: 50%;
        color: #fff;
        font-family: $main-font;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        z-index: 2;
    }
}

@media only screen and (max-width: 769px) {
    .card {
        aspect-ratio: 0;
        width: 100%;
        height: 255px;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
}
