@import '../../assets/variables';

.carousel {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 1240px;
    height: 415px;
    border-radius: 25px;
    background-color: $main-bg-color;
    overflow: hidden;
    &__picture {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 415px;
        overflow: hidden;
        object-fit: cover;
    }
}
