@import '../../assets/variables', '../../assets/animations';
.dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0;
    margin-bottom: 30px;
    overflow: hidden;
    font-family: $main-font;
    h2 {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 10px 20px 10px 15px;
        margin: 0;
        border-radius: 5px;
        background-color: $primary-color;
        color: #fff;
        font-size: 24px;
        font-weight: 500;
        svg {
            height: 32px;
            width: 32px;
        }
    }
}
