@import '../../assets/variables', '../../assets/animations';

.slideshow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 415px;
    &__pictures {
        display: flex;
        justify-content: center;
        align-items: center;
        width: inherit;
        background-color: $main-bg-color;
    }
    &__picture {
        display: none;
        width: 100%;

        &--selected {
            display: flex;
            width: 100%;
            min-height: 415px;
            object-fit: cover;
        }
    }
    &__listnumber {
        position: absolute;
        bottom: 24px;
        color: white;
        font-family: $main-font;
        font-size: 18px;
        font-weight: 500;
    }
}

.arrow {
    &-left {
        display: flex;
        position: absolute;
        z-index: 1;
        top: calc(50%-height);
        left: 10px;
        transform: rotate(180deg);
    }
    &-right {
        display: flex;
        position: absolute;
        z-index: 1;
        top: calc(50%-height);
        right: 10px;
    }
}
