@import '../../assets/variables';

.fiche-logement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: $main-font;
    color: $primary-color;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
        h2 {
            font-size: 36px;
            font-weight: 500;
            line-height: 142.6%;
        }
        p {
            font-size: 18px;
            font-weight: 500;
        }
    }
    &__infos {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 24px;
    }
}

.dropdown-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 6%;
    width: 100%;
    height: auto;
    flex-direction: row;
}
