@import '../../assets/variables';
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    padding-top: 66px;
    padding-bottom: 29px;
    font-family: 'Montserrat';
    background-color: $secondary-color;
    color: white;
    img {
        filter: brightness(100);
    }
}
